* { box-sizing: border-box;}
body { background-color: #696969;
      color: #200000;
	  font-family: Verdana, Arial, sans-serif;
	  margin: 0;
}
#wrapper { background-color: #A9A9A9;
}
header { background-color: #000000;
         background-image: url(logo.png);
		 background-position: center;
		 background-repeat: no-repeat;
		 color: #FAEBD7;
		 font-family: Arial, "Verdana", sans-serif;
		 padding: 2em;
		 text-align: left;
}
header a { text-decoration: none; }
header a:link       { color: #F8F8FF; }
header a:visited { color: #F8F8FF; }
header a:hover     { color: #A9A9A9; }
h1 { font-size: 0.5em;
     padding: 0.1em;
	  }
h2 { font-size: 1.2em;
     	 }
nav { text-align: center;  
}
nav ul { display: flex;
      flex-direction: row;
	  font-size: 1.5em; 
	  list-style-type: none; 
	  margin: 0;
	  padding: 0;
}
nav li { border-bottom: 1px solid #000000;
      padding-bottom: .5em;
	  padding-top: .5em;
	  width: 100%;
}
nav a { text-decoration: none; }
nav a:link       { color: #000000; }
nav a:visited { color: #000000; }
nav a:hover     { color: #FAEBD7; }
main { background-color: #FFF;
      border: 1px solid #000000;
	  display: block;
	  overflow: auto;
      padding-left: 2em;
      padding-right: 2em;
}
dt { color: #000000;
     font-size: 1.1em;
	 font-family: Georgia, "Times New Roman", serif; 
	 font-weight: italic; 
}
section { background-color: #5280C5;
		margin-bottom: 1em;
		margin-right: 1em;
		padding: 0;
 }
 section h3 { background-color: #AEC3E3;
           font-size: 110%;
           margin-bottom: 0;
           margin-top: 0;
		   padding: .25em;
		text-align: left;
}
section p { padding: 0 .25em .25em .25em; }
.category { color: #5380C5;
            font-family: Georgia, "Times New Roman", serif; 
            font-weight: bold;
}
.address { clear: left; }
#mobile   { display: inline; }
#desktop { display: none; }
footer { background-color: #F8F8FF;
         font-size: .90em;
         
		 padding: 1em;
		 text-align: left;
}

table { margin: 1em;
        border: 2px solid #000033
          border-collapse: collapse;
}
td, th { padding: 0.5em;
            border: 1px solid #000033;
}
@media (min-width: 600px) {
	header { background-image: url(logo.png); }
		h1        { font-size: 3em; }
		nav ul   { flex-direction: row;
		        flex-wrap: nowrap;
				justify-content: space-around; }
		nav li    { border-bottom: none; }
		#flow { display: flex;
			    flex-flow: row wrap; }
		section { flex: 1; 
			    min-width: 30%; }
		dl   { flex: 2; }
		img { flex: 1; }
		#mobile  { display: none; }
		#desktop { display: inline; }
}
@media (min-width: 1024px) {
	  @supports (display: grid) {
		header { grid-area: header; }
		nav { grid-area: nav; }
		main { grid-area: main; }
		footer { grid-area: footer; }
		#wrapper { display: grid; 
		        grid-template:
					"header header"
					"nav main"
					"footer footer" 
					/ 180px ; }
		nav ul { flex-direction: column;
		         font-weight: bold;
				 font-size: 1.25em; }
		}

